---
import BaseLayout from "../layouts/BaseLayout.astro"
import UpcomingMovies from "../components/UpcomingMovies.tsx"
const { env } = Astro.locals.runtime;

const TMDB_BEARER_TOKEN = env.TMDB_BEARER_TOKEN
const TMDB_UPCOMING_MOVIE_URL = "https://api.themoviedb.org/3/movie/upcoming?language=en-US&page=1"
const data = await fetch(TMDB_UPCOMING_MOVIE_URL, { headers: { Authorization: `Bearer ${TMDB_BEARER_TOKEN}`, 'Content-Type': 'application/json'}}).then((response) => response.json()).catch((e) => console.error(e))
console.log(data.results)
---

<BaseLayout>
	<div>
        <div>
            <UpcomingMovies movies={data}/>
        </div>
	</div>
</BaseLayout>

<style>
    h1 {
        color: palegoldenrod;
        text-shadow: 3px 0 1rem goldenrod;
    }
</style>
